@charset "ISO-8859-1";

.full-wide {
	width: 100%;
}

.full-wide.header_banner_ctn {
	height: 100px;
}

.full-wide.body_ctn {
	border-top: 2px solid;
}

.login_form_ctn {
	padding: 10px 520px 0 520px
}

.login_form {
	border: 1px solid;
	border-radius: 50px;
	padding: 20px;
}

.header_logo_ctn {
	border: 1px solid;
	height: 100px;
	width: 30%;
	background-color: #80ff80;
	border-right: 50px solid transparent;
	background-color: yellow;
	border-radius: 50px 50px 0 0;
}

.trapezoid {
	border-bottom: 100px solid red;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
}

.header-title {
	font-size: 30px;
	font-weight: bold;
}

.contact-list-ctn {
	padding-left: 50px;
	padding-right: 50px;
}

.contact-list {
	height: 550px;
}

.contact-detail {
	height: 550px;
	border-left: 1px solid;
	border-right: 1px solid;
}

.contacts-grid-ctn {
	height: 500px; 
	overflow-y: scroll;
}

.search-bar-ctn {
	height: 1.8em;
}

.contact-entry-ctn.active {
	background-color: #BFC3CB;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.contact-entry-ctn.inactive:hover {
	background-color: #BFC3CB;	
}

.contact-entry-ctn.inactive:hover .button-action-ctn {
	display: block;
}

.contact-entry-ctn.inactive .button-action-ctn {
	display: none;
}

.contact-entry-ctn.inactive {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

.contact-preview-ctn {
	cursor: pointer;
}

span.contact-text-detail {
	font-size: 2em;
}

.hidden-el {
	display:none;
}

#delete-fullname {
	font-weight: bold;
}
/*
* FA add referesh rules
*
*/

i:hover {
	cursor:pointer;
}
.btn.fa-plus-circle {
	font-size:35px;
	color: #037603;
}
i.fa-plus-circle {
	font-size:35px;
	color: #037603;
}

i.fa-plus-circle:hover {
	font-size:45px;
	cursor: pointer;
}

i.fa-refresh {
	font-size:35px;
	color: #037603;
}

i.fa-refresh:hover {
	font-size:45px;
	cursor: pointer;
}

 
.button-action-ctn .fa{
	font-size:20px
}

/*
*	Search field css
*/

/* #searchinput { */
/*     width: 200px; */
/* } */
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}